/* .Btn {
  border-radius: 118px;
  border: 2px solid #2c2f24;
  transition: 0.3s;
  color: #182226;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; 
  padding: 12px 24px;
}
.Btn:hover {
  background: #2c2f24;
  color: #fff;
} */
.Btn{
  font-size: 20px;
    background-color: black;
    padding: 13px 22px 17px;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    transition: all 100ms linear;

}
.Btn:hover {
  background: #fff;
  color: black;
  border: 1px solid #2c2f24;

}