.Contacts-container {
    padding: 40px;
    border-radius: 8px;
    text-align: center;
  }
  
  .Contacts-heading {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .Contact-details {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .Contact-label {
    font-weight: bold;
  }
  
  .Contact-message {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .contact-button {
    padding: 12px 24px;
    font-size: 20px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    background-color: #000;
  }
  
  @media screen and (max-width: 768px) {
    .Contacts-container {
      padding: 20px;
    }
  
    .Contacts-heading {
      font-size: 28px;
      margin-bottom: 20px;
    }
  
    .Contact-details {
      font-size: 16px;
    }
  
    .contact-message {
      font-size: 16px;
    }
  
    .contact-button {
      font-size: 18px;
    }
  }
  
  .Contact-icons{
    display: flex;
    justify-content: space-around;
    margin-right: 140px;
    margin-bottom: 40px;
  }
  
   .social-media {
    display: flex;
    gap: 20px;
    width: 90px;
    margin-top: 20px;
  }
   .social-media li {
    margin-right: 10px;
  }
  
   .social-media li:last-child {
    margin-right: 0;
  }
  
   .social-media i {
    color: #0c0c0c;
    font-size: 30px;
  }
   .social-media i:hover{
    color: #A9A9A9;
    transition: 0.3s;
  }


  .Message-form-container {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Message-form {
    display: flex;
    flex-direction: column;
  }
  
  .Message-form-label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #000;
  }
  
  .Message-form-input,
  .Message-form-textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
  }
  
  .Message-form-textarea {
    height: 100px;
    resize: vertical;
  }
  
  .Message-form-button {
    align-self: center;
    text-transform: uppercase;
    max-width: 270px;
    font-size: 20px;
    background-color: black;
    padding: 13px 22px 17px;
    color: white;
    border-radius: 5px;
    /* margin-left: 7px; */
    transition: all 100ms linear;
  }
  
  .Message-form-button:hover {
    /* color: #000;
    background-color: #fff;
    border: 1px solid #2c2f24;   */
    background-color:  rgba(0, 0, 0, 0.5);

  }
  
  .Form-status {
    margin-top: 10px;
    color: green;
    font-weight: bold;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .Contacts-container {
      padding: 10px;
    }
  
    .Message-form-container {
      padding: 10px;
    }
  }