.AddToCart button {
  padding: 10px 10px;
    margin-right: 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    font-family: 'Avenir';
    transition: all 100ms linear;
    max-width: 250px;
    margin-bottom: 5px;
}
.AddToCart button:hover {
  background-color:  rgba(0, 0, 0, 0.5);
}