.Auth {
  white-space: nowrap;
}
.Auth button {
  
  font-size: 20px;
  background-color: #021437;
  padding: 13px 22px 17px;  
  color: white;
  border-radius: 5px;
  margin-left: 7px;
  transition: all 100ms linear;
}
.Auth button:hover {
  /* background-color: #dde0e6;
  color: black;
  border: 10px black; */
color: #000;
background-color: #fff;
border: 1px solid #2c2f24;
}

.Auth .photoURL {
  border-radius: 100%;
  margin: 10px;
  width: 30px;
}
.Auth span{
  align-items: center;
    display: flex;
}